.sidebar {
    height: 100vh;
    padding-left: 0.8vw !important;
    padding-right: 0.8vw !important;
    background-image: linear-gradient(to right, #0b0421, #0f062e);
}

.content {
    height: 100vh !important;
}